<html>
    <head>
        <title>Reserva de Laboratório</title>
    </head>

    <body>
        <div id="tela-solicitacao">

             <h1>Formulario</h1>
            
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="nome" required><br>

            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula" [(ngModel)]="matricula" required><br>

            <label for="lab">Laboratório: </label>
            <select name="lab" id="lab" [(ngModel)]="lab" required>
                
                <option value="lab01">Laboratório 01</option>
                <option value="lab02">Laboratório 02</option>
                <option value="labRobótica">Laboratório Robótica</option>
                <option value="labManutenção">Laboratório Manutenção</option>
            </select> <br>  

            <label for="data">Data e Hora:</label>
            <input type="datetime-local" id="data" [(ngModel)]="data" required><br>

            <button (click)="submitForm()">Enviar</button> <br>
            <a routerLink="/visualizacao">Visualizar Reservas</a>

        </div>
    </body>
</html>